<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="CMCSDBEntities" connectionString="metadata=res://*/CMCSModel.csdl|res://*/CMCSModel.ssdl|res://*/CMCSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LabVM1846780\SQLEXPRESS;initial catalog=CMCSDB;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>